@use "../mixins/breakpoints" as breakpoint;

.hds-nav {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 62px;
    width: 100%;
    padding: 0 var(--token-spacing-100);
    background-color: var(--token-color-surface-primary);
    border: none;
    border-bottom: 1px solid var(--token-color-header-nav-border);

    &--theme-light{
        --token-color-surface-primary: #ffffff;
        --token-color-header-nav-border: #dbdbdc;
        --token-color-header-nav-link: #000000;
        --token-color-header-nav-link-hover: #000000;
        --extra-desktop-buttons-display: flex;
    }
    &--theme-dark{
        --token-color-surface-primary: #000000;
        --token-color-header-nav-border: #000000;
        --token-color-header-nav-link: #ffffff;
        --token-color-header-nav-link-hover: #ffffff;
        --extra-desktop-buttons-display: none;
    }

    // To do: CSS Grid needs refactored to be more accomadating for 
    // these extra ctas
    &__desktop-ctas{
        display: var(--extra-desktop-buttons-display);
        justify-content: flex-end;
        @include breakpoint.small {
            display: none;
        }
    }

    &__ctas-list{
        @extend .ul-reset;
        display: flex;
        gap: var(--token-spacing-100);
    }
    &__home-link{
        width: fit-content;
    }
    &__logo{
        max-height: 34px;
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        padding: 0 var(--token-spacing-200);
        z-index: 2;
    }

    &__menu-ul{
        @extend .ul-reset;
        display: flex;
        align-items: center;
        @include breakpoint.small {
            display: none;
        }
    }

    &__menu-li{
        position: relative;
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }

    &__menu-a{
        position: relative;
        display: block;
        align-items: center;
        white-space: nowrap;
        font-family: var(--token-typography-body-200-font-family);
        font-size: var(--token-typography-body-200-font-size);
        padding: 0 var(--token-spacing-100);
        color: var(--token-color-header-nav-link);
        text-decoration: none;
        line-height: var(--token-spacing-250);
        &:hover{
            color: var(--token-color-header-nav-link-hover);
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: var(--token-spacing-100);
            width: 0px;
            height: 2px;
            background: var(--token-color-header-nav-link);
            transition: all .3s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        }
        &.active{
            &::after{
                width: calc(100% - (var(--token-spacing-100) * 2));
                transition: all .3s cubic-bezier(0.15, 0.83, 0.67, 0.96);
            }
        }
    }

    &__mobile-menu{
        display: flex;
        justify-content: right;
        @include breakpoint.medium {
            display: none;
        }

        // To do: Tokenize for light and dark themes
        // Dropdown overrides
        .hds-dropdown-toggle-button--color-primary{
            color: #fff;
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
        }

        .hds-dropdown-toggle-button--color-primary:focus::before{
            border-color: var(--hdsplus-color-waypoint-button-background-color);
        }

        .hds-dropdown__content {
            background-color: #1d1e1f;
            border-radius: 6px;
            width: 256px;
            box-shadow: none;
        }

        .hds-dropdown-list-item--variant-interactive{
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
