
.hds-nav {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 62px;
    width: 100%;
    padding: 0 var(--token-spacing-100);
    background-color: var(--token-color-surface-primary);

    &--theme-light{
        --token-color-surface-primary: #ffffff;
    }
    &--theme-dark{
        --token-color-surface-primary: #000000;
    }

    &__logo{
        max-height: 34px;
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        padding: 0 var(--token-spacing-200);
        z-index: 2;
    }

    &__menu-ul{
        @extend .ul-reset;
        display: flex;
        align-items: center;
    }

    &__menu-li{
        position: relative;
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }

    &__menu-a{
        position: relative;
        display: block;
        align-items: center;
        white-space: nowrap;
        font-family: var(--token-typography-body-200-font-family);
        font-size: var(--token-typography-body-200-font-size);
        padding: 0 var(--token-spacing-100);
        color: var(--token-color-header-nav-link-primary-dark);
        text-decoration: none;
        line-height: var(--token-spacing-250);
        &:hover{
            color: var(--token-color-header-nav-link-primary-hover-dark);
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: var(--token-spacing-100);
            width: 0px;
            height: 2px;
            background: #fff;
            transition: all .3s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        }
        &.active{
            &::after{
                width: calc(100% - (var(--token-spacing-100) * 2));
                transition: all .3s cubic-bezier(0.15, 0.83, 0.67, 0.96);
            }
        }
    }
}
