/*
* Common Utility classes
*/

    .ul-reset {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
    }

    .oh{
        overflow: hidden;
    }

/*
* Animation utility classes
*/

    .on-canv-display, .on-canv-body, .on-canv-btn {
        transition: all .6s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        transform: translateY(0px);
        opacity: 1;
    }
    .on-canv-body {
        transition-delay: .15s;
    }
    .on-canv-btn {
        transition-delay: .25s;
    }

    .off-canv-display, .off-canv-body, .off-canv-btn {
        transition: all .6s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        transform: translateY(100px);
        opacity: 0;
    }

/*
* Spacing utility classes
*/

    .py-25 { padding-top: var(--token-spacing-25); padding-bottom: var(--token-spacing-25); }
    .py-50 { padding-top: var(--token-spacing-50); padding-bottom: var(--token-spacing-50); }
    .py-75 { padding-top: var(--token-spacing-75); padding-bottom: var(--token-spacing-75); }
    .py-100 { padding-top: var(--token-spacing-100); padding-bottom: var(--token-spacing-100); }
    .py-150 { padding-top: var(--token-spacing-150); padding-bottom: var(--token-spacing-150); }
    .py-200 { padding-top: var(--token-spacing-200); padding-bottom: var(--token-spacing-200); }
    .py-250 { padding-top: var(--token-spacing-250); padding-bottom: var(--token-spacing-250); }
    .py-300 { padding-top: var(--token-spacing-300); padding-bottom: var(--token-spacing-300); }
    .py-350 { padding-top: var(--token-spacing-350); padding-bottom: var(--token-spacing-350); }
    .py-400 { padding-top: var(--token-spacing-400); padding-bottom: var(--token-spacing-400); }
    .py-450 { padding-top: var(--token-spacing-450); padding-bottom: var(--token-spacing-450); }
    .py-500 { padding-top: var(--token-spacing-500); padding-bottom: var(--token-spacing-500); }
    .py-550 { padding-top: var(--token-spacing-550); padding-bottom: var(--token-spacing-550); }
    .py-600 { padding-top: var(--token-spacing-600); padding-bottom: var(--token-spacing-600); }
    .py-650 { padding-top: var(--token-spacing-650); padding-bottom: var(--token-spacing-650); }
    .py-700 { padding-top: var(--token-spacing-700); padding-bottom: var(--token-spacing-700); }
    .py-750 { padding-top: var(--token-spacing-750); padding-bottom: var(--token-spacing-750); }
    .py-800 { padding-top: var(--token-spacing-800); padding-bottom: var(--token-spacing-800); }
    .py-850 { padding-top: var(--token-spacing-850); padding-bottom: var(--token-spacing-850); }
    .py-900 { padding-top: var(--token-spacing-900); padding-bottom: var(--token-spacing-900); }
    .py-950 { padding-top: var(--token-spacing-950); padding-bottom: var(--token-spacing-950); }
    .py-1000 { padding-top: var(--token-spacing-1000); padding-bottom: var(--token-spacing-1000); }
    .py-1050 { padding-top: var(--token-spacing-1050); padding-bottom: var(--token-spacing-1050); }
    .py-1100 { padding-top: var(--token-spacing-1100); padding-bottom: var(--token-spacing-1100); }
    .py-1150 { padding-top: var(--token-spacing-1150); padding-bottom: var(--token-spacing-1150); }
    .py-1200 { padding-top: var(--token-spacing-1200); padding-bottom: var(--token-spacing-1200); }
    .py-1250 { padding-top: var(--token-spacing-1250); padding-bottom: var(--token-spacing-1250); }
    .py-1300 { padding-top: var(--token-spacing-1300); padding-bottom: var(--token-spacing-1300); }
    .py-1350 { padding-top: var(--token-spacing-1350); padding-bottom: var(--token-spacing-1350); }
    .py-1400 { padding-top: var(--token-spacing-1400); padding-bottom: var(--token-spacing-1400); }
    .py-1450 { padding-top: var(--token-spacing-1450); padding-bottom: var(--token-spacing-1450); }
    .py-1500 { padding-top: var(--token-spacing-1500); padding-bottom: var(--token-spacing-1500); }
    .py-1550 { padding-top: var(--token-spacing-1550); padding-bottom: var(--token-spacing-1550); }
    .py-1600 { padding-top: var(--token-spacing-1600); padding-bottom: var(--token-spacing-1600); }

    .pt-25 { padding-top: var(--token-spacing-25); }
    .pt-50 { padding-top: var(--token-spacing-50); }
    .pt-75 { padding-top: var(--token-spacing-75); }
    .pt-100 { padding-top: var(--token-spacing-100); }
    .pt-150 { padding-top: var(--token-spacing-150); }
    .pt-200 { padding-top: var(--token-spacing-200); }
    .pt-250 { padding-top: var(--token-spacing-250); }
    .pt-300 { padding-top: var(--token-spacing-300); }
    .pt-350 { padding-top: var(--token-spacing-350); }
    .pt-400 { padding-top: var(--token-spacing-400); }
    .pt-450 { padding-top: var(--token-spacing-450); }
    .pt-500 { padding-top: var(--token-spacing-500); }
    .pt-550 { padding-top: var(--token-spacing-550); }
    .pt-600 { padding-top: var(--token-spacing-600); }
    .pt-650 { padding-top: var(--token-spacing-650); }
    .pt-700 { padding-top: var(--token-spacing-700); }
    .pt-750 { padding-top: var(--token-spacing-750); }
    .pt-800 { padding-top: var(--token-spacing-800); }
    .pt-850 { padding-top: var(--token-spacing-850); }
    .pt-900 { padding-top: var(--token-spacing-900); }
    .pt-950 { padding-top: var(--token-spacing-950); }
    .pt-1000 { padding-top: var(--token-spacing-1000); }
    .pt-1050 { padding-top: var(--token-spacing-1050); }
    .pt-1100 { padding-top: var(--token-spacing-1100); }
    .pt-1150 { padding-top: var(--token-spacing-1150); }
    .pt-1200 { padding-top: var(--token-spacing-1200); }
    .pt-1250 { padding-top: var(--token-spacing-1250); }
    .pt-1300 { padding-top: var(--token-spacing-1300); }
    .pt-1350 { padding-top: var(--token-spacing-1350); }
    .pt-1400 { padding-top: var(--token-spacing-1400); }
    .pt-1450 { padding-top: var(--token-spacing-1450); }
    .pt-1500 { padding-top: var(--token-spacing-1500); }
    .pt-1550 { padding-top: var(--token-spacing-1550); }
    .pt-1600 { padding-top: var(--token-spacing-1600); }

    .pb-25 { padding-bottom: var(--token-spacing-25); }
    .pb-50 { padding-bottom: var(--token-spacing-50); }
    .pb-75 { padding-bottom: var(--token-spacing-75); }
    .pb-100 { padding-bottom: var(--token-spacing-100); }
    .pb-150 { padding-bottom: var(--token-spacing-150); }
    .pb-200 { padding-bottom: var(--token-spacing-200); }
    .pb-250 { padding-bottom: var(--token-spacing-250); }
    .pb-300 { padding-bottom: var(--token-spacing-300); }
    .pb-350 { padding-bottom: var(--token-spacing-350); }
    .pb-400 { padding-bottom: var(--token-spacing-400); }
    .pb-450 { padding-bottom: var(--token-spacing-450); }
    .pb-500 { padding-bottom: var(--token-spacing-500); }
    .pb-550 { padding-bottom: var(--token-spacing-550); }
    .pb-600 { padding-bottom: var(--token-spacing-600); }
    .pb-650 { padding-bottom: var(--token-spacing-650); }
    .pb-700 { padding-bottom: var(--token-spacing-700); }
    .pb-750 { padding-bottom: var(--token-spacing-750); }
    .pb-800 { padding-bottom: var(--token-spacing-800); }
    .pb-850 { padding-bottom: var(--token-spacing-850); }
    .pb-900 { padding-bottom: var(--token-spacing-900); }
    .pb-950 { padding-bottom: var(--token-spacing-950); }
    .pb-1000 { padding-bottom: var(--token-spacing-1000); }
    .pb-1050 { padding-bottom: var(--token-spacing-1050); }
    .pb-1100 { padding-bottom: var(--token-spacing-1100); }
    .pb-1150 { padding-bottom: var(--token-spacing-1150); }
    .pb-1200 { padding-bottom: var(--token-spacing-1200); }
    .pb-1250 { padding-bottom: var(--token-spacing-1250); }
    .pb-1300 { padding-bottom: var(--token-spacing-1300); }
    .pb-1350 { padding-bottom: var(--token-spacing-1350); }
    .pb-1400 { padding-bottom: var(--token-spacing-1400); }
    .pb-1450 { padding-bottom: var(--token-spacing-1450); }
    .pb-1500 { padding-bottom: var(--token-spacing-1500); }
    .pb-1550 { padding-bottom: var(--token-spacing-1550); }
    .pb-1600 { padding-bottom: var(--token-spacing-1600); }

    .mb-25 { margin-bottom: var(--token-spacing-25); }
    .mb-50 { margin-bottom: var(--token-spacing-50); }
    .mb-75 { margin-bottom: var(--token-spacing-75); }
    .mb-100 { margin-bottom: var(--token-spacing-100); }
    .mb-150 { margin-bottom: var(--token-spacing-150); }
    .mb-200 { margin-bottom: var(--token-spacing-200); }
    .mb-250 { margin-bottom: var(--token-spacing-250); }
    .mb-300 { margin-bottom: var(--token-spacing-300); }
    .mb-350 { margin-bottom: var(--token-spacing-350); }
    .mb-400 { margin-bottom: var(--token-spacing-400); }
    .mb-450 { margin-bottom: var(--token-spacing-450); }
    .mb-500 { margin-bottom: var(--token-spacing-500); }
    .mb-550 { margin-bottom: var(--token-spacing-550); }
    .mb-600 { margin-bottom: var(--token-spacing-600); }
    .mb-650 { margin-bottom: var(--token-spacing-650); }
    .mb-700 { margin-bottom: var(--token-spacing-700); }
    .mb-750 { margin-bottom: var(--token-spacing-750); }
    .mb-800 { margin-bottom: var(--token-spacing-800); }
    .mb-850 { margin-bottom: var(--token-spacing-850); }
    .mb-900 { margin-bottom: var(--token-spacing-900); }
    .mb-950 { margin-bottom: var(--token-spacing-950); }
    .mb-1000 { margin-bottom: var(--token-spacing-1000); }
    .mb-1050 { margin-bottom: var(--token-spacing-1050); }
    .mb-1100 { margin-bottom: var(--token-spacing-1100); }
    .mb-1150 { margin-bottom: var(--token-spacing-1150); }
    .mb-1200 { margin-bottom: var(--token-spacing-1200); }
    .mb-1250 { margin-bottom: var(--token-spacing-1250); }
    .mb-1300 { margin-bottom: var(--token-spacing-1300); }
    .mb-1350 { margin-bottom: var(--token-spacing-1350); }
    .mb-1400 { margin-bottom: var(--token-spacing-1400); }
    .mb-1450 { margin-bottom: var(--token-spacing-1450); }
    .mb-1500 { margin-bottom: var(--token-spacing-1500); }
    .mb-1550 { margin-bottom: var(--token-spacing-1550); }
    .mb-1600 { margin-bottom: var(--token-spacing-1600); }
