:root{
    --hdsplus-color-waypoint-button-color: #0c0c0e;
    --hdsplus-color-waypoint-button-background-color: #14c6cb;
    --hdsplus-color-waypoint-button-background-color-hover: #12b6bb;
    --hdsplus-color-waypoint-button-background-color-active: #11aaaf;
    --hdsplus-color-waypoint-button-background-color-focus: #14c6cb;

    --hdsplus-color-secondary-high-contrast-button-color: #fff;
    --hdsplus-color-secondary-high-contrast-button-background-color: #0c0c0e;
    --hdsplus-color-secondary-high-contrast-button-background-color-hover: #1f1f21;
    --hdsplus-color-secondary-high-contrast-button-background-color-active: #2e2e30;
    --hdsplus-color-secondary-high-contrast-button-background-color-focus: #0c0c0e;

    --hdsplus-typography-font-stack-display-expressive: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-body-300-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --hdsplus-typography-body-300-font-size: 1rem;
    --hdsplus-typography-body-300-line-height: 1.6875;
    --hdsplus-typography-body-200-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --hdsplus-typography-body-200-font-size: 0.875rem;
    --hdsplus-typography-body-200-line-height: 1.7142857142857142;
    --hdsplus-typography-display-expressive-100-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-100-font-size: 1rem;
    --hdsplus-typography-display-expressive-100-line-height: 1.5;
    --hdsplus-typography-display-expressive-100-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-200-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-200-font-size: 1.125rem;
    --hdsplus-typography-display-expressive-200-line-height: 1.5555555555555556;
    --hdsplus-typography-display-expressive-200-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-300-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-300-font-size: 1.5rem;
    --hdsplus-typography-display-expressive-300-line-height: 1.3333333333333333;
    --hdsplus-typography-display-expressive-300-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-400-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-400-font-size: 2rem;
    --hdsplus-typography-display-expressive-400-line-height: 1.3125;
    --hdsplus-typography-display-expressive-400-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-500-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-500-font-size: 2.5rem;
    --hdsplus-typography-display-expressive-500-line-height: 1.25;
    --hdsplus-typography-display-expressive-500-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-600-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-600-font-size: 3.125rem;
    --hdsplus-typography-display-expressive-600-line-height: 1.2;
    --hdsplus-typography-display-expressive-600-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-700-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-700-font-size: 4rem;
    --hdsplus-typography-display-expressive-700-line-height: 1.1875;
    --hdsplus-typography-display-expressive-700-letter-spacing: -0.01em;
    --hdsplus-typography-display-expressive-800-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-display-expressive-800-font-size: 5rem;
    --hdsplus-typography-display-expressive-800-line-height: 1.125;
    --hdsplus-typography-display-expressive-800-letter-spacing: -0.01em;
    --hdsplus-typography-body-400-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --hdsplus-typography-body-400-font-size: 1.25rem;
    --hdsplus-typography-body-400-line-height: 1.5;
    --hdsplus-typography-label-font-family: Geneva,Tahoma,Helvetica,Verdana,sans-serif;
    --hdsplus-typography-label-font-size: 0.75rem;
    --hdsplus-typography-label-line-height: 1.5;
    --hdsplus-typography-label-letter-spacing: 0.08em;
    --hdsplus-typography-label-text-transform: uppercase;

    --token-spacing-25: 0.25rem;  /* 4px */
    --token-spacing-50: 0.5rem;   /* 8px */
    --token-spacing-75: 0.75rem;  /* 12px */
    --token-spacing-100: 1rem;    /* 16px */
    --token-spacing-150: 1.5rem;  /* 24px */
    --token-spacing-200: 2rem;    /* 32px */
    --token-spacing-250: 2.5rem;  /* 40px */
    --token-spacing-300: 3rem;    /* 48px */
    --token-spacing-350: 3.5rem;  /* 56px */
    --token-spacing-400: 4rem;    /* 64px */
    --token-spacing-450: 4.5rem;  /* 72px */
    --token-spacing-500: 5rem;    /* 80px */
    --token-spacing-550: 5.5rem;  /* 88px */
    --token-spacing-600: 6rem;    /* 96px */
    --token-spacing-650: 6.5rem;  /* 104px */
    --token-spacing-700: 7rem;    /* 112px */
    --token-spacing-750: 7.5rem;  /* 120px */
    --token-spacing-800: 8rem;    /* 128px */
    --token-spacing-850: 8.5rem;  /* 136px */
    --token-spacing-900: 9rem;    /* 144px */
    --token-spacing-950: 9.5rem;  /* 152px */
    --token-spacing-1000: 10rem;  /* 160px */
    --token-spacing-1050: 10.5rem; /* 168px */
    --token-spacing-1100: 11rem;   /* 176px */
    --token-spacing-1150: 11.5rem; /* 184px */
    --token-spacing-1200: 12rem;   /* 192px */
    --token-spacing-1250: 12.5rem; /* 200px */
    --token-spacing-1300: 13rem;   /* 208px */
    --token-spacing-1350: 13.5rem; /* 216px */
    --token-spacing-1400: 14rem;   /* 224px */
    --token-spacing-1450: 14.5rem; /* 232px */
    --token-spacing-1500: 15rem;   /* 240px */
    --token-spacing-1550: 15.5rem; /* 248px */
    --token-spacing-1600: 16rem;   /* 256px */

    --gilmer: "__gilmer_3556f3";

    --token-color-palette-neutral-350: #929396;
    --token-color-palette-neutral-450: #737578;
    --token-color-palette-neutral-900: #000000;

}