@use "../mixins/breakpoints" as breakpoint;

.hero-component {
    position: relative;
    background: var(--token-color-palette-neutral-900);
    display: flex;
    justify-content: center;
    background-image: url('/images/products-overview-hero-bridge.svg');
    background-position: center bottom;
    background-repeat: no-repeat;

    .hero-component__content {
        color: var(--token-color-palette-neutral-0);
        max-width: 650px;
        text-align: center;
        @extend .pt-800, .pb-1600;
    }

    .hero-component__content-body {
        color: var(--token-color-palette-neutral-350);
        @extend .g-type-body-large, .pt-100;
    }

    .hero-component__ctas {
        @extend .ul-reset, .pt-200;
        display: flex;
        justify-content: center;
    }

    .animation-mask-wrapper {
        overflow: hidden;
    }

    .visible-display-text, .visible-body-text, .visible-btn {
        transition: all .6s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        transform: translateY(0px);
        opacity: 1;
    }
    .visible-body-text {
        transition-delay: .15s;
    }
    .visible-btn {
        transition-delay: .25s;
    }

    .hidden-display-text, .hidden-body-text, .hidden-btn {
        transition: all .6s cubic-bezier(0.15, 0.83, 0.67, 0.96);
        transform: translateY(100px);
        opacity: 0;
    }
}

.feature-row {
    @extend .g-grid, .g-grid-container, .col-start-1, .col-span-12;
    row-gap: var(--token-spacing-300);

    &__intro {
        @extend .col-start-1, .col-span-12, .pt-400;
        @include breakpoint.medium {
            grid-column-end: span 9;
            padding-top: var(--token-spacing-800);
        }
    }

    &__intro-body {
        @extend .g-type-body, .pt-100;
        color: var(--token-color-palette-neutral-450);
    }

    &__features {
        @extend .g-grid, .col-start-1, .col-span-12;
        row-gap: var(--token-spacing-300);
        --columns: 1;

        @include breakpoint.medium {
            --columns: 2;
        }

        @include breakpoint.large {
            --columns: 4;
            --column-gap: var(--token-spacing-200);
        }

    }

    &__feature-icon {
        @extend .mb-100;
    }

    &__feature-body {
        @extend .g-type-body-small, .pt-50;
        color: var(--token-color-palette-neutral-450);
    }

}


.feature-list {
    @extend .g-grid-container, .pt-400;

    @include breakpoint.medium {
        padding-top: var(--token-spacing-800);
    }

    &__list {
        @extend .ul-reset;
        display: grid;
        row-gap: var(--token-spacing-400);
        @include breakpoint.medium {
            row-gap: var(--token-spacing-800);
        }
    }

    &__list-item, &__list-item--reverse {
        @extend .g-grid, .col-start-1, .col-span-12;
        align-items: center;
        row-gap: var(--token-spacing-150);
        @include breakpoint.medium {
            row-gap: unset;
        }
    }

    &__item-description, &__item-media{
        display: flex;
        flex-direction: column;
    }

    &__item-description{
        grid-column: 1 / -1;
        @include breakpoint.medium {
            grid-column: 1 / 6;
        }
    }

    &__item-media{
        grid-column: 1 / -1;
        @include breakpoint.medium {
            grid-column: 7 / -1;
        }
    }

    &__list-item--reverse {

        .feature-list__item-media{
            grid-column: 1 / -1;
            @include breakpoint.medium {
                grid-column: 1 / 7;
            }
        }
        .feature-list__item-description{
            grid-column: 1 / -1;
            @include breakpoint.medium {
                grid-column: 8 / -1;
                order: 1;
            }
        }
        
    }

    &__item-body{
        @extend .g-type-body, .pt-100;
        color: var(--token-color-palette-neutral-450);
    }

    &__image {
        @extend .responsive-image;
    }

}